{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <div style="display: flex; justify-content: space-between; width: 100%">
        <a class="navbar-brand">WELCOME ADMIN</a>
        <a class="btn btn-danger" href="/adminlogout/">LOGOUT</a>
    </div>

</nav>
<h1 style="text-align: center; padding: 20px;">All Orders</h1>
{% for message in messages %}
<p style="color:green;text-align:center">{{message}}</p>
{% endfor %}
<div style="display: flex; flex-direction: column; margin: 48px auto; width: 80%">
    {% for order in orders %}
    <div style="border: 1px solid #eee;
    	box-shadow: 0 2px 10px rgb(0 0 0 / 11%); margin-bottom: 24px; padding: 16px; display: flex; flex-direction: column; border-radius: 20px;"
         role="alert">
        <p>{{order.customer.user.username}}</p>
        <p>{{order.customer.phone_no}}</p>
        <p>{{order.address}}</p>
        <p>{{order.item_ordered}}</p>
        <p>€ {{order.total_amount}}</p>
        <p>order status : {{order.status}}</p>
        <div class="container" style="width: 200px;margin:auto">
            <a href="/acceptorder/{{order.id}}/" class="btn btn-success">Accept</a>
            <a href="/declineorder/{{order.id}}/" class="btn btn-danger">Reject</a>
        </div>

    </div>
    {% endfor %}
</div>
    {% endblock %}